<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.rich_text_area :body %><br>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
