<div class='text-center mb-5 pb-5 border-bottom'>
  <p>
    <%= link_to new_article_path, class: "btn btn-light border-dark" do %>
      <i class="bi bi-plus-circle"></i> Create Your Article
    <% end %>
  </p>
  <h5 class='mb-4'>Our blog has <%= Article.count %> articles and counting!</h5>
  <%# search bar %>
  <%= form_with(url: articles_path, method: :get, local: true) do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>
<%# loop out each blog %>
<% @articles.each do |article| %>
  <%= link_to article_path(article), class: "text-decoration-none text-dark" do %>
    <%# name %>
    <h6>Author: <%= article.user.name %> (<%= article.user.email %>)</h6>
    <%# image %>
    <div class="bg-dark mx-auto text-center" style="width: 500px;">
      <%= image_tag article.image, class: "img-fluid", style: "height: 500px; object-fit: cover;" if article.image.attached? %>
    </div>
    <%# title %>
    <h3>Title: <%= article.title %></h3>
    <%# short description text taken from blog content %>
    <p>Body: <%= truncate(article.body.to_plain_text, length: 20) %></p>
    <%# number of comments %>
    <p><%= article.comments.count %> comments</p>
    <%# create time %>
    <div class="mb-5 fw-light"><%= article.created_at.strftime("%B %d, %Y") %></p>
    <div class="border-bottom pb-5 mb-5">
    </div>
  <% end %>
<% end %>
<%# pagination %>
<div class="d-flex my-5 fs-4 fw-medium justify-content-center border border-dark rounded-5">
  <%= will_paginate @articles %>
</div>
<%# new_article_path is a helper method, new is action, article is resource %>
